body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1366e1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: rgb(94, 22, 22);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90%;
  }
  
  .student-id {
    font-size: 2rem;
    font-weight: bold;
    color: #c60b8e;
  }